/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                  Global styles
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*==================================================
Table of contents:
A: RESET
    1. General
    2. Reset components
B: UTILITY CLASSES
    1. Float classes on container
    2. Rows
    3. Columns
    4. Buttons
    5. Custom radio buttons
    6. Custom checkbox
C: TYPOGRAPHY
    1. Html tags
    2. Utility classes
D: LAYOUT
    1. HEADER
        - Nav
    2. MAIN
    3. FOOTER
==================================================*/

/*--------------------- A: RESET ---------------------*/

/*1. General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

:root {
  /*COLORS*/
  --bordeaux: #61082b;
  --blue: #0061ff;
  --light-blue: #b4d0e7;
  --grey: #637381;
  --light-grey: #bec8d1;
  /*TYPOGRAPHY*/
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/*2. Reset components*/

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/*------------------ B: UTILITY CLASSES ------------------*/

/*1. Float classes on container*/

.all-children-float-left > * {
  float: left;
}

.all-children-float-right > * {
  float: right;
}

.all-children-float-left::after,
.all-children-float-right::after {
  content: "";
  display: table;
  clear: both;
}

/*2. Rows*/

.row {
  width: 80%;
  margin: auto;
  max-width: 1250px;
}

.wider.row {
  width: 80%;
  max-width: 1450px;
}

.row > * {
  float: left;
  padding: 20px;
}

.width-100 {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/*3. Columns*/

.col-1_9 {
  width: calc(100% / 9 * 1);
}

.col-3_9 {
  width: calc(100% / 9 * 3);
}

.col-4_9 {
  width: calc(100% / 9 * 4);
}

.col-5_9 {
  width: calc(100% / 9 * 5);
}

.col-6_9 {
  width: calc(100% / 9 * 6);
}

.col-7_9 {
  width: calc(100% / 9 * 7);
}

.col-1_5 {
  width: calc(100% / 5);
}

.col-1_4 {
  width: calc(100% / 4);
}

.col-1_2 {
  width: calc(100% / 2);
}

/*4. Buttons*/

.btn-blue {
  background-color: var(--blue);
  color: white;
  line-height: 40px;
  text-align: center;
}

.btn-blue:hover {
  background-color: #3c85ff;
}

.btn-white {
  background-color: white;
  color: black;
  line-height: 40px;
  text-align: center;
}

.btn-white:hover {
  background-color: #f5f5f5;
}

.btn-transparent {
  background-color: transparent;
  color: black;
  line-height: 40px;
  border: 1px solid black;
  padding: 0 20px;
  text-align: center;
}

.btn-transparent:hover {
  box-shadow: 0 0 0 1px black inset;
}

/*5. Custom radio buttons*/

.custom-radio-button {
  opacity: 0;
}

.custom-radio-button + label {
  position: relative;
  cursor: pointer;
}

.custom-radio-button + label::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--grey);
  transition: all 0.2s;
}

.custom-radio-button:checked + label::before {
  border: none;
  box-shadow: 0 0 0 5px var(--blue) inset;
}

/*6. Custom checkbox*/

.custom-checkbox {
  opacity: 0;
}

.custom-checkbox + label {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 2px;
  border: 1px solid var(--light-grey);
  transition: all 0.2s;
}

.custom-checkbox + label i {
  position: absolute;
  font-size: 23px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blue);
  opacity: 0;
  transition: all 0.2s;
}

.custom-checkbox:checked + label i {
  opacity: 100;
}

.custom-checkbox:checked + label {
  border: 0px solid var(--light-grey);
  box-shadow: 0 0 8px var(--blue);
}

/*------------------- C: TYPOGRAPHY -------------------*/

/*1. Html tags*/

h1 {
  font-size: 77px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4,
h5 {
  font-size: 16px;
}

/*Utility classes*/

.small-text {
  font-size: 14px;
}

.grey-text {
  color: var(--grey);
}

.blue-text {
  color: var(--blue);
}

.white-text {
  color: white;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: underline;
}

/*-------------------- D: LAYOUT --------------------*/

/* >> >> HEADER >> >> */

.nav_bar_space {
  height: 80px;
}

/*Nav*/

nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--light-grey);
  box-shadow: 0 0 5px var(--light-grey);
}

nav .nav_left_links {
  float: left;
}

nav .nav_right_links {
  float: right;
}

nav > ul li {
  display: inline-block;
}

nav .clickable:not(.btn-blue) {
  padding: 0 15px;
  color: black;
}

nav .clickable:not(.logo) {
  line-height: 40px;
}

nav .clickable.btn-blue {
  padding: 0 25px;
  margin-left: 15px;
}

.logo {
  vertical-align: middle;
  padding: 8px 0 7px;
}

/* >> >> MAIN >> >> */

main .row {
  padding: 50px 0;
}

/* >> >> FOOTER >> >> */

footer:not(.footer-light) {
  background: black;
  color: white;
  padding: 100px 0 100px;
}

footer ul {
  margin: 30px 0 90px;
}

footer li a {
  font-size: 14px;
  line-height: 30px;
}

footer:not(.footer-light) li a {
  color: white;
}

footer section hr {
  width: 50px;
}

footer .language {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  padding: 0;
  cursor: pointer;
  color: var(--grey);
}

footer .language:focus {
  border-radius: 5px;
  box-shadow: 0 0 0 1px white, 0 0 0 2px var(--blue) inset;
}

/* >> >> FOOTER LIGHT >> >> */

.footer-light,
.footer-light li a {
  color: var(--grey);
}

.footer-light hr {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
}

.footer-light .language {
  margin-top: 20px;
}
