/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                  Home page styles
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*==================================================
Table of contents:
A: HEADER
  1. HERO
B: MAIN
  1. BILLING PLANS
    - 3/9 COLUMN CARDS
      a. General
      b. Price
      c. Main info
      d. Call to action
      e. Secondary info
  2. FIND A PARTNER
  3. OPERATIONS
  4. TESTIMONIALS
    a. Testimonials header
    b. Testimonial review
    c. Testimonials square groups
      - First testimonials group logos
      - Second testimonials group logos
  5. MAIN CALL TO ACTION 
  6. FAQ
==================================================*/

/*--------------------- A: HEADER ---------------------*/

header {
  background-color: var(--light-blue);
  margin-bottom: 100px;
}

/*HERO*/

header .wider.row {
  position: relative;
  top: 100px;
}

.hero .btn-blue {
  padding: 0 30px;
  margin: 30px 0 0;
}

.hero .small-text {
  margin-top: 10px;
}

.hero i {
  margin-top: 30px;
  font-size: 40px;
  position: relative;
  animation: up-and-down 1.5s ease-in-out infinite alternate;
}

@keyframes up-and-down {
  0% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}

/*----------------------- B: MAIN -----------------------*/

main .btn-blue,
main .btn-white {
  width: 100%;
  text-align: center;
}

/* >>>>>>>>>>>>>> 1. BILLING PLANS >>>>>>>>>>>>>> */

.billing_options {
  padding-top: 40px;
}

.billing_options label {
  left: 6px;
  margin: 0 20px 0 3px;
}

.billing_options label::before {
  top: 50%;
  left: 0;
  transform: translate(-27px, -50%);
}

/*3/9 COLUMN CARDS*/

/*a. General*/

.billing_card {
  min-width: 300px;
}

.billing_card .category {
  border: 1px solid var(--light-grey);
  border-bottom: none;
  padding: 10px 0;
  text-align: center;
}

.plan_description {
  padding: 30px;
  border: 1px solid var(--light-grey);
}

.plan_description:not(.enterprise) {
  min-height: 1100px;
}

.price *,
.main_info *:not(i),
.call_to_action *,
.secondary_info * {
  margin-bottom: 15px;
}

.main_info li,
.secondary_info li {
  margin-left: 20px;
}

.main_info li i:first-of-type,
.secondary_info li i:first-of-type {
  margin-left: -20px;
}

/*b. Price*/

.billing_card .price {
  margin-bottom: 50px;
}

/*c. Call to action*/

.call_to_action {
  margin-bottom: 40px;
}

.call_to_action .btn-blue {
  margin: 40px 0 30px;
}

.call_to_action hr {
  width: 50px;
}

/*d. Secondary info*/

.billing_plans i.fa-check {
  color: var(--blue);
}

/* >>>>>>>>>>>>>> 2. FIND A PARTNER >>>>>>>>>>>>>> */

.partner section {
  transform: translateY(10%);
}

.partner > section > p {
  margin: 30px 0;
}

/* >>>>>>>>>>>>> 3. OPERATIONS >>>>>>>>>>>>> */

.operation_card > h3 {
  margin: 20px 0;
}

.operation_card {
  margin-bottom: 50px;
}

/* >>>>>>>>>>>> 4. TESTIMONIALS >>>>>>>>>>>> */

/*a. TESTIMONIALS HEADER*/

.testimonials_header section a {
  margin-top: 30px;
}

/*b. TESTIMONIAL REVIEW*/

.testimonial_reviews {
  width: calc(100% / 7 * 3);
  height: calc(100vw / 7 * 2);
  position: relative;
}

.testimonial_logo {
  width: 50%;
  max-width: 130px;
}

.testimonial_logo:not(.black) {
  filter: invert();
}

.testimonial_review {
  background: #f5f5f5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 40px;
}

.testimonial_review hr {
  width: 50px;
  margin-top: 25px;
}

.testimonial_review blockquote {
  margin: 40px 0;
}

/*Testimonial reviews transitions*/
.testimonial_review::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 51;
  height: 5px;
  background-color: black;
  animation: bar_5s 5s ease-in-out infinite;
}

.testimonial_review:nth-of-type(1) {
  animation: show_review_1 40s infinite;
}

.testimonial_review:nth-of-type(2) {
  animation: show_review_2 40s infinite;
}

.testimonial_review:nth-of-type(3) {
  animation: show_review_3 40s infinite;
}

.testimonial_review:nth-of-type(4) {
  animation: show_review_4 40s infinite;
}

.testimonial_review:nth-of-type(5) {
  animation: show_review_5 40s infinite;
}

.testimonial_review:nth-of-type(6) {
  animation: show_review_6 40s infinite;
}

.testimonial_review:nth-of-type(7) {
  animation: show_review_7 40s infinite;
}

.testimonial_review:nth-of-type(8) {
  animation: show_review_8 40s infinite;
}

@keyframes bar_5s {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes show_review_1 {
  0% {
    z-index: 50;
  }
  12% {
    z-index: 50;
  }
  12.5% {
    z-index: 0;
  }
}

@keyframes show_review_2 {
  12% {
    z-index: 0;
  }
  12.5% {
    z-index: 50;
  }
  24.5% {
    z-index: 50;
  }
  25% {
    z-index: 0;
  }
}

@keyframes show_review_3 {
  24.5% {
    z-index: 0;
  }
  25% {
    z-index: 50;
  }
  37% {
    z-index: 50;
  }
  37.5% {
    z-index: 0;
  }
}

@keyframes show_review_4 {
  37% {
    z-index: 0;
  }
  37.5% {
    z-index: 50;
  }
  49.5% {
    z-index: 50;
  }
  50% {
    z-index: 0;
  }
}

@keyframes show_review_5 {
  49.5% {
    z-index: 0;
  }
  50% {
    z-index: 50;
  }
  62% {
    z-index: 50;
  }
  62.5% {
    z-index: 0;
  }
}

@keyframes show_review_6 {
  62% {
    z-index: 0;
  }
  62.5% {
    z-index: 50;
  }
  74.5% {
    z-index: 50;
  }
  75% {
    z-index: 0;
  }
}

@keyframes show_review_7 {
  74.5% {
    z-index: 0;
  }
  75% {
    z-index: 50;
  }
  87% {
    z-index: 50;
  }
  87.5% {
    z-index: 0;
  }
}

@keyframes show_review_8 {
  87% {
    z-index: 0;
  }
  87.5% {
    z-index: 50;
  }
  99.5% {
    z-index: 50;
  }
  100% {
    z-index: 0;
  }
}

/*c. TESTIMONIALS SQUARE GROUPS*/

.logo_square {
  width: calc(100% / 2);
  height: calc(100vw / 7);
  position: relative;
}

.logo_square .testimonial_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square_of_testimonials {
  width: calc(100% / 7 * 2);
}

/*First testimonials group logos*/
.logo_square.a {
  background: #a2d39b;
  animation: logo_1 40s infinite;
}

.logo_square.b {
  background: var(--bordeaux);
  animation: logo_2 40s infinite;
}

.logo_square.c {
  background: #0093ce;
  animation: logo_5 40s infinite;
}

.logo_square.d {
  background: #ff1c1c;
  animation: logo_6 40s infinite;
}

/*Second testimonials group logos*/
.logo_square.e {
  background: #d5001f;
  animation: logo_3 40s infinite;
}

.logo_square.f {
  background: var(--light-blue);
  animation: logo_4 40s infinite;
}

.logo_square.g {
  background: #0d2481;
  animation: logo_7 40s infinite;
}

.logo_square.h {
  background: #ffd830;
  animation: logo_8 40s infinite;
}

/* Testimonial logos animations */

@keyframes logo_1 {
  0% {
    box-shadow: none;
  }
  0.5% {
    box-shadow: 0 0 0 10px #d0e9cd inset;
  }
  12% {
    box-shadow: 0 0 0 10px #d0e9cd inset;
  }
  12.5% {
    box-shadow: none;
  }
}

@keyframes logo_2 {
  0% {
    box-shadow: none;
  }
  12% {
    box-shadow: none;
  }
  12.5% {
    box-shadow: 0 0 0 10px #b38795 inset;
  }
  24.5% {
    box-shadow: 0 0 0 10px #b38795 inset;
  }
  25% {
    box-shadow: none;
  }
}

@keyframes logo_3 {
  0% {
    box-shadow: none;
  }
  24.5% {
    box-shadow: none;
  }
  25% {
    box-shadow: 0 0 0 10px #ee9093 inset;
  }
  37% {
    box-shadow: 0 0 0 10px #ee9093 inset;
  }
  37.5% {
    box-shadow: none;
  }
}

@keyframes logo_4 {
  0% {
    box-shadow: none;
  }
  37% {
    box-shadow: none;
  }
  37.5% {
    box-shadow: 0 0 0 10px #d9e7f3 inset;
  }
  49.5% {
    box-shadow: 0 0 0 10px #d9e7f3 inset;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes logo_5 {
  0% {
    box-shadow: none;
  }
  49.5% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 0 10px #95c9e7 inset;
  }
  62% {
    box-shadow: 0 0 0 10px #95c9e7 inset;
  }
  62.5% {
    box-shadow: none;
  }
}

@keyframes logo_6 {
  0% {
    box-shadow: none;
  }
  62% {
    box-shadow: none;
  }
  62.5% {
    box-shadow: 0 0 0 10px #ff9894 inset;
  }
  74.5% {
    box-shadow: 0 0 0 10px #ff9894 inset;
  }
  75% {
    box-shadow: none;
  }
}

@keyframes logo_7 {
  0% {
    box-shadow: none;
  }
  74.5% {
    box-shadow: none;
  }
  75% {
    box-shadow: 0 0 0 10px #8791c2 inset;
  }
  87% {
    box-shadow: 0 0 0 10px #8791c2 inset;
  }
  87.5% {
    box-shadow: none;
  }
}

@keyframes logo_8 {
  0% {
    box-shadow: none;
  }
  87% {
    box-shadow: none;
  }
  87.5% {
    box-shadow: 0 0 0 10px #feeaa1 inset;
  }
  99.5% {
    box-shadow: 0 0 0 10px #feeaa1 inset;
  }
  100% {
    box-shadow: none;
  }
}

/* >>>>>>>>>>>> 5. MAIN CALL TO ACTION >>>>>>>>>>>> */

.main-call-to-action {
  background: var(--light-blue);
  padding: 70px 0;
}

.main-call-to-action h2 {
  width: 25ch;
  color: var(--bordeaux);
}

/* >>>>>>>>>>>>>>>>>>>> 6. FAQ >>>>>>>>>>>>>>>>>>>> */

.row.faq > * {
  float: none;
  padding-top: 0;
  padding-bottom: 0;
}

.row.faq {
  padding: 130px 0;
}

.row.faq hr {
  width: 100%;
}

.row.faq h3,
.question h4,
.question i {
  padding-top: 30px;
  padding-bottom: 30px;
}

.question p {
  display: none;
  padding-bottom: 30px;
}

.question {
  cursor: pointer;
}

.question:focus p {
  display: block;
}

.question:focus i {
  transform: rotateX(180deg);
}

.row.faq h4 {
  float: left;
}

.row.faq i {
  float: right;
}
