/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                  Home page styles
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*==================================================
Table of contents:
A: HEADER
  1. HERO
B: MAIN
  1. BILLING PLANS
    - 3/9 COLUMN CARDS
      a. General
      b. Price
      c. Main info
      d. Call to action
      e. Secondary info
  2. FIND A PARTNER
  3. OPERATIONS
  4. TESTIMONIALS
    a. Testimonials header
    b. Testimonial review
    c. Testimonials square groups
      - First testimonials group logos
      - Second testimonials group logos
  5. MAIN CALL TO ACTION 
  6. FAQ
==================================================*/

/*--------------------- A: HEADER ---------------------*/

header {
  margin-bottom: 100px;
}

/*HERO*/

header .wider.row {
  position: relative;
  top: 100px;
}

.hero .btn-blue {
  padding: 0 30px;
  margin: 30px 0 0;
}

.hero .small-text {
  margin-top: 10px;
}

.hero i {
  margin-top: 40px;
  font-size: 40px;
}

/*----------------------- B: MAIN -----------------------*/

main .row {
  padding: 50px 0;
}

main .btn-blue,
main .btn-white {
  width: 100%;
  text-align: center;
}

/* >>>>>>>>>>>>>> 1. BILLING PLANS >>>>>>>>>>>>>> */

.billing_options {
  padding-top: 40px;
}

.billing_options label {
  margin: 0 20px 0 3px;
}

/*3/9 COLUMN CARDS*/

/*a. General*/

.billing_card {
  min-width: 300px;
}

.billing_card .category {
  border: 1px solid var(--grey);
  border-bottom: none;
  padding: 10px 0;
  text-align: center;
}

.plan_description {
  padding: 30px;
  border: 1px solid var(--grey);
}

.plan_description:not(.enterprise) {
  min-height: 1100px;
}

.price *,
.main_info *:not(i),
.call_to_action *,
.secondary_info * {
  margin-bottom: 15px;
}

.main_info li,
.secondary_info li {
  margin-left: 20px;
}

.main_info li i:first-of-type,
.secondary_info li i:first-of-type {
  margin-left: -20px;
}

/*b. Price*/

.billing_card .price {
  margin-bottom: 50px;
}

/*c. Call to action*/

.call_to_action {
  margin-bottom: 40px;
}

.call_to_action .btn-blue {
  margin: 40px 0 30px;
}

.call_to_action hr {
  width: 50px;
}

/*d. Secondary info*/

.billing_plans i.fa-check {
  color: var(--blue);
}

/* >>>>>>>>>>>>>> 2. FIND A PARTNER >>>>>>>>>>>>>> */

.partner section {
  transform: translateY(10%);
}

.partner > section > p {
  margin: 30px 0;
}

/* >>>>>>>>>>>>> 3. OPERATIONS >>>>>>>>>>>>> */

.operation_card > h3 {
  margin: 20px 0;
}

.operation_card {
  margin-bottom: 50px;
}

/* >>>>>>>>>>>> 4. TESTIMONIALS >>>>>>>>>>>> */

/*a. TESTIMONIALS HEADER*/

.testimonials_header section a {
  margin-top: 30px;
}

/*b. TESTIMONIAL REVIEW*/

.testimonial_review {
  width: calc(100vw / 7 * 3);
  height: calc(100vw / 7 * 2);
  padding: 40px;
  background: #f5f5f5;
}

.testimonial_logo {
  width: 50%;
  max-width: 130px;
}

.testimonial_logo:not(.black) {
  filter: invert();
}

.testimonial_review hr {
  width: 50px;
  margin-top: 30px;
}

.testimonial_review blockquote {
  margin: 40px 0;
}

/*c. TESTIMONIALS SQUARE GROUPS*/

.logo_square {
  width: calc(100vw / 7);
  height: calc(100vw / 7);
  position: relative;
}

.logo_square .testimonial_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square_of_testimonials {
  width: calc(100vw / 7 * 2);
}

/*First testimonials group logos*/
.logo_square.a {
  background: #a2d39b;
}
.logo_square.a.active {
  box-shadow: 0 0 0 15px #d0e9cd inset;
}

.logo_square.b {
  background: var(--bordeaux);
}
.logo_square.c {
  background: #0093ce;
}
.logo_square.d {
  background: #ff1c1c;
}

/*Second testimonials group logos*/
.logo_square.e {
  background: #d5001f;
}
.logo_square.f {
  background: var(--light-blue);
}
.logo_square.g {
  background: #0d2481;
}
.logo_square.h {
  background: #ffd830;
}

/* >>>>>>>>>>>> 5. MAIN CALL TO ACTION >>>>>>>>>>>> */

.main-call-to-action {
  background: var(--light-blue);
  padding: 70px 0;
}

.main-call-to-action h2 {
  width: 25ch;
  color: var(--bordeaux);
}

/* >>>>>>>>>>>>>>>>>>>> 6. FAQ >>>>>>>>>>>>>>>>>>>> */

.row.faq > * {
  float: none;
  padding-top: 0;
  padding-bottom: 0;
}

.row.faq {
  padding: 130px 0;
}

.row.faq hr {
  width: 100%;
}

.row.faq h3,
.row.faq h4,
.row.faq i {
  margin: 30px 0;
}

.row.faq h4 {
  float: left;
}

.row.faq i {
  float: right;
}
