/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

:root {
  /*COLORS*/
  --bordeaux: #61082b;
  --blue: #0061ff;
  --light-blue: #b4d0e7;
  --grey: #637381;
  /*TYPOGRAPHY*/
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/*------------------ UTILITY CLASSES ------------------*/

.float-left > * {
  float: left;
}

.float-right > * {
  float: right;
}

.float-left::after,
.float-right::after {
  content: "";
  display: table;
  clear: both;
}

.btn-blue {
  background-color: var(--blue);
  color: white;
  line-height: 40px;
}

.btn-white {
  background-color: white;
  color: black;
  line-height: 40px;
}

.btn-transparent {
  background-color: transparent;
  color: black;
  line-height: 40px;
  border: 1px solid black;
  padding: 0 20px;
}

.row {
  width: 70%;
  margin: auto;
}

.wider.row {
  width: 80%;
}

.row > * {
  float: left;
  padding: 20px;
}

.width-100 {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1_9 {
  width: calc(100% / 9 * 1);
}

.col-3_9 {
  width: calc(100% / 9 * 3);
}

.col-4_9 {
  width: calc(100% / 9 * 4);
}

.col-5_9 {
  width: calc(100% / 9 * 5);
}

.col-6_9 {
  width: calc(100% / 9 * 6);
}

/*------------------- Typography -------------------*/

h1 {
  font-size: 77px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4,
h5 {
  font-size: 16px;
}

.small-text {
  font-size: 14px;
}

.grey-text {
  color: var(--grey);
}

.blue-text {
  color: blue;
}

.a-underline {
  text-decoration: underline;
}

/*------------------ LAYOUT ------------------*/

/* >> HEADER >> */

header {
  background-color: var(--light-blue);
  padding-top: 80px;
  margin-bottom: 100px;
}

/*NAV*/

nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 20px;
}

nav ul:first-child {
  float: left;
}

nav ul:last-child {
  float: right;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 0 15px;
  color: black;
}

nav a:not(.logo) {
  line-height: 40px;
}

nav a.btn-blue {
  padding: 0 25px;
  margin-left: 15px;
}

.logo {
  vertical-align: middle;
}

/*HERO*/

header .wider.row {
  position: relative;
  top: 100px;
}

.hero .btn-blue {
  padding: 0 30px;
  margin: 30px 0 0;
}

.hero .small-text {
  margin-top: 10px;
}

.hero i {
  margin-top: 40px;
  font-size: 40px;
}

/* >> MAIN >>*/

main .row {
  padding: 50px 0;
}

main .btn-blue,
main .btn-white {
  width: 100%;
  text-align: center;
}

/*BILLING PLANS*/

.billing_options {
  padding-top: 40px;
}

.billing_options label {
  margin: 0 20px 0 3px;
}

/*3/9 column cards*/

.billing_card {
  min-width: 300px;
}

.billing_card .category {
  border: 1px solid var(--grey);
  border-bottom: none;
  padding: 10px 0;
  text-align: center;
}

.plan_description {
  padding: 30px;
  border: 1px solid var(--grey);
}

.plan_description:not(.enterprise) {
  height: 1100px;
}

.price *,
.main_info *:not(i),
.call_to_action *,
.secondary_info * {
  margin-bottom: 15px;
}

/*Price*/

.billing_card .price {
  margin-bottom: 50px;
}

/*Call to action*/

.call_to_action {
  margin-bottom: 40px;
}

.call_to_action .btn-blue {
  margin: 40px 0 30px;
}

.call_to_action hr {
  width: 50px;
}

/*Secondary info*/

.billing_plans i.fa-check {
  color: var(--blue);
}

/*PARTNER*/

.partner section {
  transform: translateY(10%);
}

.partner > section > p {
  margin: 30px 0;
}

/*OPERATIONS*/

.operation_card > h3 {
  margin: 20px 0;
}

.operation_card {
  margin-bottom: 50px;
}

/*TEAMS*/

.row.teams_header {
  padding: 0;
}

.teams_header section a {
  margin: 30px 0;
}

.team-logo {
  width: 50%;
  max-width: 130px;
}

.team-logo:not(.black) {
  filter: invert();
}

.logo_square {
  width: calc(100vw / 7);
  height: calc(100vw / 7);
  position: relative;
}

.logo_square img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo_square.a {
  background: #a2d39b;
}
.logo_square.a.active {
  box-shadow: 0 0 0 15px #d0e9cd inset;
}

.logo_square.b {
  background: var(--bordeaux);
}
.logo_square.c {
  background: #0093ce;
}
.logo_square.d {
  background: #ff1c1c;
}
.logo_square.e {
  background: #d5001f;
}
.logo_square.f {
  background: var(--light-blue);
}
.logo_square.g {
  background: #0d2481;
}
.logo_square.h {
  background: #ffd830;
}

.square_of_teams {
  width: calc(100vw / 7 * 2);
}

.team_review {
  width: calc(100vw / 7 * 3);
  height: calc(100vw / 7 * 2);
}

.team_review {
  padding: 40px;
  background: #f5f5f5;
}

.team_review hr {
  width: 50px;
  margin-top: 30px;
}

.team_review blockquote {
  margin: 40px 0;
}

.main-call-to-action {
  background: var(--light-blue);
  padding: 70px 0;
}

.main-call-to-action h2 {
  width: 25ch;
  color: var(--bordeaux);
}

/*FAQ*/

.row.faq > * {
  float: none;
  padding: 0;
}

.row.faq {
  padding: 130px 0;
}

.row.faq hr {
  width: 100%;
}

.row.faq h3,
.row.faq h4,
.row.faq i {
  margin: 30px 0;
}

.row.faq h4 {
  float: left;
}

.row.faq i {
  float: right;
}

/*FOOTER*/

footer {
  background: black;
  color: white;
  padding: 100px 0 50px;
}

footer .container {
  width: 80%;
  margin: auto;
}

footer section {
  width: calc(100% / 5);
}

footer section hr {
  width: 50px;
}

footer ul {
  margin: 30px 0 90px;
}

footer li a {
  color: white;
  font-size: 14px;
  line-height: 30px;
}

footer .language {
  margin-top: 50px;
}
