/*=======================================
Table of content:
A: HEADER
  - Hero section
B: MAIN
  - Main heading
  - Functions section
  - Articles about functions
  - Main call to action
=======================================*/

/* >> >> A: HEADER >> >> */

/*Hero section*/
.hero {
  position: relative;
}

.hero_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vw;
  opacity: 0;
  /*The video is hidden, even if it remains 
  on top of the image so it is focusable*/
  cursor: pointer;
  background: black;
}

.hero_video:focus {
  /*When the video is focused it is shown. 
  This is a hack to partially imitate what should be made with 
  javascript to play the video and make the hero image disappear.
  The problem with this solution is that when the focus moves 
  to something else, while the video continues playing, it 
  disappears and the image is revealed.*/
  opacity: 1;
}

.hero_image {
  height: 50vw;
  object-fit: cover;
}

.play_button {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
}

.play_button i {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}

/* >> >> B: MAIN >> >> */

/*Main heading*/

.free_trial_btn {
  margin: 40px 0;
  padding: 0 20px;
}

/*Functions section*/

.functions .function {
  min-height: 250px;
  min-width: 280px;
  margin-bottom: 30px;
}

.functions h4 {
  min-height: 60px;
}

/*Articles about functions*/

main .row.function_articles_header {
  padding: 0;
}

.container_function_articles .row {
  width: calc(100% - 40px);
}

.container_function_articles h4 {
  margin-top: 30px;
}

.container_function_articles p {
  margin: 30px 0;
}

/*Main call to action*/

.container_main_call_to_action {
  margin-top: 50px;
  background: #0e2381;
}

.container_main_call_to_action h2 {
  color: #ffcb94;
}

.container_main_call_to_action p {
  margin-top: 20px;
}
